{% extends 'temp_sub/base.html' %}
{% block title %}Post Detail Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{ post.author.profilemodel.image.url }}" alt="profile-img">
                        </div>
                        <div class="col-md-8">
                            <small>{{ post.date_created }}</small>
                            {% if post.author == request.user %}
                            <span><a class="btn btn-danger mx-2 float-right btn-sm" href="{% url 'blog-post-delete' post.id %}">Delete</a></span>
                            <span><a class="btn btn-primary float-right btn-sm" href="{% url 'blog-post-edit' post.id %}">Edit</a></span>
                            {% endif %}
                            <hr>
                            <h4>{{ post.title }}</h4>
                            <p>
                                {{ post.content }}
                            </p>
                        </div>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="post.id" value= "{{ post.id }}">
                        {% if user not in post.liked.all %}
                            <button class="btn btn-danger" type="submit" >Like</button>
                        {% else %}
                            <button class="btn btn-info" type="submit">Unlike</button>

                        {% endif %}
                        <b>{{ post.liked.all.count }} likes</b>
                    </form>
                    
                    <p>
                        <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Comments :  {{ post.comment_count }} 
                        </a>
                      </p>
                      <div class="collapse" id="collapseExample">
                        <div style="height: 200px; overflow-y: scroll;" class="card card-body">
                            {% for comment in post.comments %}
                            <p class="text-justify">
                                <b>{{ user.username }}</b> : {{ comment.content }}
                                
                            </p>
                            {% endfor %}
                            
                        </div>
                        
                      </div>
                      <form method="POST">
                          {% csrf_token %}
                          {{ c_form|crispy }}
                          <input class="btn btn-primary btn-sm float-right" type="submit" value="Comment">
                      </form>
                      
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
